# Ignore everything in the root.
*

# General includes
!.gitignore
!LICENSE
!README.md

# Project specific file includes
!intro.md
!notes-workshop-fossgis.md
!_config.yml
!_toc.yml
!docker-compose.yml

# Folder includes
!_static/
!content/
!img/

# Wildcard includes
!content/*
!_static/*
!img/*
